@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    scale: 1.3;
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  color: #fff;
  display: flex;
  position: relative;
  overflow: hidden;
}

.about__title {
  margin: 0;
  padding: 100px 0 0 80px;
  max-width: 251px;
  z-index: 1;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.about__content {
  display: flex;
  flex-direction: column;
  margin: 119px 80px 173px auto;
  gap: 20px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph {
  display: flex;
  margin: 0;
  max-width: 660px;
}

.about__circle {
  position: absolute;
  top: -152px;
  left: -129px;
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  border-radius: 50%;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
