.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 80px;
  box-sizing: border-box;
  color: #fff;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  margin: 0;
  padding: 0;
  width: 105px;
  height: 39px;
}

.footer__social-content {
  margin: 0;
  padding: 0;
}

.footer__social-heading {
  margin: 0 0 20px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.footer__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.footer__list-item {
  margin: 0 0 16px;
}

.footer__list-item:last-of-type {
  margin: 0;
}

.footer__social-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
}

.footer__social-link:hover {
  color: #c1c1c1;
  transition: color 0.3s linear;
}

.footer__copyright {
  margin: 108px 0 auto;
}
