.form {
  width: 385px;
  max-width: 385px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  margin-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 0;
}

.form__input[type="datetime-local"] {
  color: #000;
}

.form__input {
  padding: 0;
  padding-left: 20px;
  border-radius: 4px;
  border: 1px solid #838383;
  height: 60px;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__input::placeholder {
  color: #838383;
}

.form__button {
  color: #fff;
  background-color: #2f80ed;
  border-radius: 4px;
  margin-bottom: 32px;
  padding: 0;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  transition: opacity 0.3s ease;
  border: none;
}

.form__button:hover {
  opacity: 70%;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}
